

  <ion-header color="primary">

    <ion-toolbar color="primary">

      <ion-title class="ion-text-center">Autor</ion-title>
      <ion-icon name="arrow-back-outline" routerLink="/home"></ion-icon>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding">


<ion-card>
  <ion-item-divider>
    <ion-label>Información</ion-label>
  </ion-item-divider>

  <ion-card-content>
    aplicacion desarrollada por jorge ibarra
    mas informacion sobre mi
  </ion-card-content>

 <ion-button  color="light" expand="block" routerLink="/curriculum"><ion-icon name="school-outline"></ion-icon>  Curriculum Vitae</ion-button>
  <ion-button  color="light" expand="block" href="mailto:jorge.ibarra@uan.edu.mx"><ion-icon name="mail-outline"></ion-icon>  Correo</ion-button>
   <ion-button  color="light" expand="block" ><ion-icon name="logo-twitter"></ion-icon>	Twitter : @JorgeLu54913958</ion-button>
    <ion-button  color="light" expand="block"><ion-icon name="call-outline"></ion-icon>	3112032982</ion-button>
</ion-card>









  </ion-content>



  <ion-footer>
    <ion-toolbar>
      <ion-title></ion-title>
    </ion-toolbar>
  </ion-footer>










