<ion-header color="primary">

    <ion-toolbar color="primary">

      <ion-title class="ion-text-center">Curriculum</ion-title>
      <ion-icon name="arrow-back-outline" routerLink="/author"></ion-icon>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding">


<ion-item>

  <ion-label>UAN</ion-label>
  <ion-label>2019-PRESENTE</ion-label>
  <ion-label>Lic.sistemas computacionales</ion-label>
</ion-item>
<ion-item>
  <ion-label>Conalep 169 </ion-label>
  <ion-label>2015-2018</ion-label>
  <ion-label>BT-INFORMATICA</ion-label>
</ion-item>









  </ion-content>



  <ion-footer>
    <ion-toolbar>
      <ion-title></ion-title>
    </ion-toolbar>
  </ion-footer>