

  <ion-header color="primary">
    <ion-toolbar color="primary">
      <ion-title class="ion-text-center">Inicio</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding">

    <ion-card>
  <ion-item-divider>
    <ion-label>Bienvenido a IBiblioteca !</ion-label>
  </ion-item-divider>

  <ion-card-content>
    IBiblioteca es una aplicacion desarollada
    con Ionix que permite gestionar una biblioteca
    de un centro educativo.
    Para acceder a la biblioteca pulsa en el siguiente boton
  </ion-card-content>

 <ion-button  color="light" expand="block" routerLink="/ibiblioteca">Acceso a Biblioteca<ion-icon name="school-outline"></ion-icon></ion-button>
</ion-card>

 <ion-card>
  <ion-item-divider>
    <ion-label>Informacion sobre el autor</ion-label>
  </ion-item-divider>

  <ion-card-content>
    Aplicacion desarrollada por jorge ibarra
  </ion-card-content>

 <ion-button  color="light" expand="block" routerLink="/author">Consultar Informacion<ion-icon name="person-outline"></ion-icon></ion-button>
</ion-card>



  </ion-content>



  <ion-footer>
    <ion-toolbar>
      <ion-title></ion-title>
    </ion-toolbar>
  </ion-footer>


