 <ion-header color="primary">

    <ion-toolbar color="primary">

      <ion-title class="ion-text-center">Ibiblioteca</ion-title>
      <ion-icon name="arrow-back-outline" routerLink="/home"></ion-icon>
    </ion-toolbar>
  </ion-header>

<ion-content>



<ion-item>
  <ion-thumbnail slot="start">
    <img src="assets/images/1.jpg">
  </ion-thumbnail>
  <ion-label>Don Quijote de la Mancha</ion-label>
  <ion-label>Autor:Miguel de Cervantes Saavedra</ion-label>
  <ion-label>Año:1605</ion-label>
</ion-item>
<ion-item>
  <ion-thumbnail slot="start">
    <img src="assets/images/2.jpg">
  </ion-thumbnail>
  <ion-label> Historia de dos ciudades</ion-label>
  <ion-label>Autor:Charles Dickens</ion-label>
  <ion-label>Año:1859</ion-label>
</ion-item>
<ion-item>
  <ion-thumbnail slot="start">
    <img src="assets/images/3.jpg">
  </ion-thumbnail>
  <ion-label>El Señor de los Anillos</ion-label>
  <ion-label>Autor:J. R. R. Tolkien</ion-label>
  <ion-label>Año:1954</ion-label>
</ion-item>
<ion-item>
  <ion-thumbnail slot="start">
    <img src="assets/images/4.jpg">
  </ion-thumbnail>
  <ion-label>El principito</ion-label>
  <ion-label>Autor:Antoine de Saint-Exupéry</ion-label>
  <ion-label>Año:1951</ion-label>
</ion-item>
<ion-item>
  <ion-thumbnail slot="start">
    <img src="assets/images/5.jpg">
  </ion-thumbnail>
  <ion-label>Sueño en el pabellón rojoa</ion-label>
  <ion-label>Autor:Cao Xueqin</ion-label>
  <ion-label>Año:1791</ion-label>
</ion-item>

</ion-content>




